<h1>Posts #new Page</h1>

<% if @post.errors.any? %>
    <h3>The following errors prevented your post from being saved.</h3>
    <ul>
        <%@post.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </ul>
<%end%>

<%= form_for :post, url: user_posts_path(@user) do |f|%>
    <div>
        Post Title : 
        <%= f.text_field :title%>
    </div>

    <div>
        Post Text : 
        <%= f.text_field :text%>
    </div>

    <div>
        <%= f.submit%>
    </div>
<%end%>